<!DOCTYPE html>
<html>
<head>
<title>Client Admin </title>
<link rel="stylesheet" type="text/css" href="123.css">
</head>
            
</head>
<body>
<div class="container">
	<div class="row">	
		<h1></h1>
	</div>
	<br>
	<div class="row">	
		
	</div>
    <div class="row">	
    <form action="/AddNewUser" method="post">
        <p>{{ companyid }}</p>
        <input type="submit" value="AddNewUser">
    </form>
    </div>
         
	<br><br>
	
	<button type="button" onclick="history.back()">Back</button>
</div>
</body>
</html>